*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg, #f8bbd0, #fce4ec); /* soft pink */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(45deg, #c2185b, #880e4f); /* DARK PINK */
  color: white;
}

header input {
  padding: 8px;
  border-radius: 8px;
   border: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px)); 
  justify-content: center; /* keeps cards centered */
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(194, 24, 91, 0.3); /* pink shadow */
  transition: 0.3s;
   width: 250px;
}

.card:hover {
  transform: translateY(-8px);
}
.card img {
  width: 100%;
  height: 180px;   /* FIXED HEIGHT */
  object-fit: cover;  /* PREVENT STRETCH */
  display: block;
}
.card-content {
  padding: 15px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.owner {
  font-size: 13px;
  color: gray;
}

.price {
  color: #e91e63;
  font-weight: bold;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  background: linear-gradient(45deg, #c2185b, #e91e63);
  color: white;
  text-decoration: none;
  font-weight: bold;
}